# AI SQL Querier

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-OpenAI-API-KEY" data-toc-modified-id="1.-OpenAI-API-KEY-1">1. OpenAI API KEY</a></span></li><li><span><a href="#2.-SQL-Connection" data-toc-modified-id="2.-SQL-Connection-2">2. SQL Connection</a></span></li><li><span><a href="#3.-Load-SQL-DB-in-LangChain" data-toc-modified-id="3.-Load-SQL-DB-in-LangChain-3">3. Load SQL DB in LangChain</a></span></li><li><span><a href="#4.-Input-LLM" data-toc-modified-id="4.-Input-LLM-4">4. Input LLM</a></span></li><li><span><a href="#5.-SQL-Chain" data-toc-modified-id="5.-SQL-Chain-5">5. SQL Chain</a></span></li><li><span><a href="#6.-Executing-generated-SQL-query" data-toc-modified-id="6.-Executing-generated-SQL-query-6">6. Executing generated SQL query</a></span></li><li><span><a href="#7.-Cleaning-response" data-toc-modified-id="7.-Cleaning-response-7">7. Cleaning response</a></span></li><li><span><a href="#8.-Output-LLM" data-toc-modified-id="8.-Output-LLM-8">8. Output LLM</a></span></li><li><span><a href="#9.-Code-Summary" data-toc-modified-id="9.-Code-Summary-9">9. Code Summary</a></span></li></ul></div>

## 1. OpenAI API KEY

To carry out this project, we will need an API KEY from OpenAI to use the GPT-4 Turbo model. This API KEY can be obtained at https://platform.openai.com/api-keys. It is only displayed once, so it must be saved at the moment it is obtained. Of course, we will need to create an account to get it.

We store the API KEY in a `.env` file to load it with the dotenv library and use it as an environment variable. This file is added to the `.gitignore` to ensure that it cannot be seen if we upload the code to GitHub, for example.

In [1]:
# removing deprecation warnings

import warnings
warnings.filterwarnings("ignore")

In [2]:
# import API KEY

import os                           # operating system library
from dotenv import load_dotenv      # load environment variables  


load_dotenv()


OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

## 2. SQL Connection

We make the SQL connection by creating the URI, with the language used, user, password, server and database. These details will change depending on the database used and the user credentials.

In [3]:
from sqlalchemy import create_engine

In [4]:
# server and user credentials 

LANGUAGE = "mysql+pymysql"

USER = "root"

PASSWORD = "password"

SERVER = "localhost:3306"

DATABASE = "sakila"

In [5]:
URI = f"{LANGUAGE}://{USER}:{PASSWORD}@{SERVER}/{DATABASE}"

In [6]:
# database connection

cursor = create_engine(URI).connect()

In [7]:
# show all database tables

tables = cursor.execute("show tables;").fetchall()

tables = [e[0] for e in tables]

tables

['actor',
 'address',
 'category',
 'city',
 'country',
 'customer',
 'film',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'language',
 'payment',
 'rental',
 'staff',
 'store']

## 3. Load SQL DB in LangChain

We create the SQL chain for feeding the LLM later.

In [8]:
from langchain import SQLDatabase

In [9]:
db = SQLDatabase.from_uri(URI,
                          sample_rows_in_table_info=1, 
                          include_tables=tables)

In [10]:
# tables information

print(db.table_info)

CREATE TABLE actor (
	actor_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (actor_id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from actor table:
actor_id	first_name	last_name	last_update
1	PENELOPE	GUINESS	2006-02-15 04:34:33
*/


CREATE TABLE address (
	address_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT UNSIGNED NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (address_id),
	CONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from address table:
address_id	address	address2	district	city_id	postal_code	phone	last_update
1	47 MySakila Drive	None	Alberta	300			2014-09-25 22:30:27
*/


CREATE TABLE category (
	category_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	name VARCHAR(25) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (category_id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from category table:
category_id	name	last_update
1	Action	2006-02-15 04:46:27
*/


CREATE TABLE city (
	city_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (city_id),
	CONSTRAINT fk_city_country FOREIGN KEY(country_id) REFERENCES country (country_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from city table:
city_id	city	country_id	last_update
1	A Coruña (La Coruña)	87	2006-02-15 04:45:25
*/


CREATE TABLE country (
	country_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	country VARCHAR(50) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (country_id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from country table:
country_id	country	last_update
1	Afghanistan	2006-02-15 04:44:00
*/


CREATE TABLE customer (
	customer_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	store_id TINYINT UNSIGNED NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	email VARCHAR(50),
	address_id SMALLINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	create_date DATETIME NOT NULL,
	last_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (customer_id),
	CONSTRAINT fk_customer_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_customer_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from customer table:
customer_id	store_id	first_name	last_name	email	address_id	active	create_date	last_update
1	1	MARY	SMITH	MARY.SMITH@sakilacustomer.org	5	1	2006-02-14 22:04:36	2006-02-15 04:57:20
*/


CREATE TABLE film (
	film_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	title VARCHAR(128) NOT NULL,
	description TEXT,
	release_year YEAR,
	language_id TINYINT UNSIGNED NOT NULL,
	original_language_id TINYINT UNSIGNED,
	rental_duration TINYINT UNSIGNED NOT NULL DEFAULT '3',
	rental_rate DECIMAL(4, 2) NOT NULL DEFAULT '4.99',
	length SMALLINT UNSIGNED,
	replacement_cost DECIMAL(5, 2) NOT NULL DEFAULT '19.99',
	rating ENUM('G','PG','PG-13','R','NC-17') DEFAULT 'G',
	special_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes'),
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (film_id),
	CONSTRAINT fk_film_language FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_language_original FOREIGN KEY(original_language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from film table:
film_id	title	description	release_year	language_id	original_language_id	rental_duration	rental_rate	length	replacement_cost	rating	special_features	last_update
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies	2006	1	None	6	0.99	86	20.99	PG	{'Deleted Scenes', 'Behind the Scenes'}	2006-02-15 05:03:42
*/


CREATE TABLE film_actor (
	actor_id SMALLINT UNSIGNED NOT NULL,
	film_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (actor_id, film_id),
	CONSTRAINT fk_film_actor_actor FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_actor_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from film_actor table:
actor_id	film_id	last_update
1	1	2006-02-15 05:05:03
*/


CREATE TABLE film_category (
	film_id SMALLINT UNSIGNED NOT NULL,
	category_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (film_id, category_id),
	CONSTRAINT fk_film_category_category FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_category_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from film_category table:
film_id	category_id	last_update
1	6	2006-02-15 05:07:09
*/


CREATE TABLE film_text (
	film_id SMALLINT UNSIGNED NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT,
	PRIMARY KEY (film_id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from film_text table:
film_id	title	description
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies
*/


CREATE TABLE inventory (
	inventory_id MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
	film_id SMALLINT UNSIGNED NOT NULL,
	store_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (inventory_id),
	CONSTRAINT fk_inventory_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_inventory_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from inventory table:
inventory_id	film_id	store_id	last_update
1	1	1	2006-02-15 05:09:17
*/


CREATE TABLE language (
	language_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	name CHAR(20) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (language_id)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from language table:
language_id	name	last_update
1	English	2006-02-15 05:02:19
*/


CREATE TABLE payment (
	payment_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	customer_id SMALLINT UNSIGNED NOT NULL,
	staff_id TINYINT UNSIGNED NOT NULL,
	rental_id INTEGER,
	amount DECIMAL(5, 2) NOT NULL,
	payment_date DATETIME NOT NULL,
	last_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (payment_id),
	CONSTRAINT fk_payment_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_payment_rental FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT fk_payment_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from payment table:
payment_id	customer_id	staff_id	rental_id	amount	payment_date	last_update
1	1	1	76	2.99	2005-05-25 11:30:37	2006-02-15 22:12:30
*/


CREATE TABLE rental (
	rental_id INTEGER NOT NULL AUTO_INCREMENT,
	rental_date DATETIME NOT NULL,
	inventory_id MEDIUMINT UNSIGNED NOT NULL,
	customer_id SMALLINT UNSIGNED NOT NULL,
	return_date DATETIME,
	staff_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (rental_id),
	CONSTRAINT fk_rental_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_rental_inventory FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_rental_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from rental table:
rental_id	rental_date	inventory_id	customer_id	return_date	staff_id	last_update
1	2005-05-24 22:53:30	367	130	2005-05-26 22:04:30	1	2006-02-15 21:30:53
*/


CREATE TABLE staff (
	staff_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	picture BLOB,
	email VARCHAR(50),
	store_id TINYINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	username VARCHAR(16) NOT NULL,
	password VARCHAR(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (staff_id),
	CONSTRAINT fk_staff_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_staff_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from staff table:
staff_id	first_name	last_name	address_id	picture	email	store_id	active	username	password	last_update
1	Mike	Hillyer	3	b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\x00y\x00\x00\x00u\x08\x02\x00\x00\x00\xe5Z\xd9e\x00\x0	Mike.Hillyer@sakilastaff.com	1	1	Mike	8cb2237d0679ca88db6464eac60da96345513964	2006-02-15 03:57:16
*/


CREATE TABLE store (
	store_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	manager_staff_id TINYINT UNSIGNED NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (store_id),
	CONSTRAINT fk_store_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_store_staff FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
1 rows from store table:
store_id	manager_staff_id	address_id	last_update
1	1	1	2006-02-15 04:57:12
*/

## 4. Input LLM

We use an OpenAI model as input LLm. A temperature = 0 makes the model's responses more deterministic and repetitive, tending to select the most likely next word given the previous context, which is better for SQL queries generation.

In [11]:
from langchain_openai import OpenAI

In [12]:
input_model = OpenAI(temperature=0)

In [13]:
# testing model

input_model.invoke("What is SQL?")

'\n\nSQL (Structured Query Language) is a programming language used for managing and manipulating data stored in relational databases. It is used to create, retrieve, update, and delete data from databases, as well as to define and modify the structure of databases. SQL is a standard language that is used by many database management systems, making it a widely used and important tool for data management and analysis.'

## 5. SQL Chain

We use our database and the LLM from OpenAI for SQL query generation.

In [14]:
from langchain.chains import create_sql_query_chain

In [15]:
database_chain = create_sql_query_chain(input_model, db)

In [16]:
# chain description

database_chain

RunnableAssign(mapper={
  input: RunnableLambda(...),
  table_info: RunnableLambda(...)
})
| RunnableLambda(lambda x: {k: v for (k, v) in x.items() if k not in ('question', 'table_names_to_use')})
| PromptTemplate(input_variables=['input', 'table_info'], partial_variables={'top_k': '5'}, template='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')
| RunnableBinding(bound=OpenAI(client=<openai.resources.completions.Completions object at 0x10861caf0>, async_client=<openai.resources.completions.AsyncCompletions object at 0x11c2a09d0>, temperature=0.0, openai_api_key=SecretStr('**********'), openai_proxy=''), kwargs={'stop': ['\nSQLResult:']})
| StrOutputParser()
| RunnableLambda(_strip)

In [17]:
# our question

prompt = "Which actors have the first name ‘Scarlett’?"

In [18]:
# generated query

sql_query = database_chain.invoke({"question": prompt})

In [19]:
#we can visualize what sql query is generated by the LLM

print(sql_query)

SELECT `actor_id`, `first_name`, `last_name`, `last_update` FROM `actor` WHERE `first_name` = 'Scarlett' LIMIT 5;

## 6. Executing generated SQL query

In [20]:
# SQL output

response = cursor.execute(sql_query).fetchall()

response

[(81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33))]

## 7. Cleaning response

We clean the SQL output so that the model understands better and returns a more concise response parsing the output to markdown.

In [21]:
import pandas as pd

In [22]:
context = pd.DataFrame(response).to_markdown()

context

'|    |   actor_id | first_name   | last_name   | last_update         |\n|---:|-----------:|:-------------|:------------|:--------------------|\n|  0 |         81 | SCARLETT     | DAMON       | 2006-02-15 04:34:33 |\n|  1 |        124 | SCARLETT     | BENING      | 2006-02-15 04:34:33 |'

## 8. Output LLM

With this model, we generate the final response.

In [23]:
from langchain_openai.chat_models import ChatOpenAI   

output_model = ChatOpenAI(model="gpt-4-turbo")

In [24]:
output_model.invoke(f"""Given the next context, answer the cuestion: 
                    
                    context: {context}, 
                    
                    question: {prompt}
                    
                    """).content

"The actors with the first name 'Scarlett' are Scarlett Damon and Scarlett Bening."

## 9. Code Summary

In [26]:
%%time

import warnings
warnings.filterwarnings("ignore")

from sqlalchemy import create_engine

from langchain import SQLDatabase
from langchain.chains import create_sql_query_chain
from langchain_openai import OpenAI
from langchain_openai.chat_models import ChatOpenAI   

import pandas as pd

import os                           
from dotenv import load_dotenv        




load_dotenv()

OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")


LANGUAGE = "mysql+pymysql"

USER = "root"

PASSWORD = "password"

SERVER = "localhost:3306"

DATABASE = "sakila"


URI = f"{LANGUAGE}://{USER}:{PASSWORD}@{SERVER}/{DATABASE}"
    
    
cursor = create_engine(URI).connect()


tables = cursor.execute("show tables;").fetchall()

tables = [e[0] for e in tables]


db = SQLDatabase.from_uri(URI,
                          sample_rows_in_table_info=1, 
                          include_tables=tables)

input_model = OpenAI(temperature=0)


database_chain = create_sql_query_chain(input_model, db)


prompt = "Which actors have the first name ‘Scarlett’?"


sql_query = database_chain.invoke({"question": prompt})


response = cursor.execute(sql_query).fetchall()


context = pd.DataFrame(response).to_markdown()


output_model = ChatOpenAI(model="gpt-4-turbo")



final_prompt = f"""Given the next context, answer the cuestion: 
                    
                   context: {context}, 
                    
                   question: {prompt}
                    
                   """



output_model.invoke(final_prompt).content

CPU times: user 182 ms, sys: 16.5 ms, total: 198 ms
Wall time: 3.29 s

'The actors with the first name "Scarlett" are Scarlett Damon and Scarlett Bening.'