# AI SQL Querier

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-OpenAI-API-KEY" data-toc-modified-id="1.-OpenAI-API-KEY-1">1. OpenAI API KEY</a></span></li><li><span><a href="#2.-SQL-Connection" data-toc-modified-id="2.-SQL-Connection-2">2. SQL Connection</a></span></li><li><span><a href="#3.-Load-SQL-DB-in-LangChain" data-toc-modified-id="3.-Load-SQL-DB-in-LangChain-3">3. Load SQL DB in LangChain</a></span></li><li><span><a href="#4.-Input-LLM" data-toc-modified-id="4.-Input-LLM-4">4. Input LLM</a></span></li><li><span><a href="#5.-SQL-Chain" data-toc-modified-id="5.-SQL-Chain-5">5. SQL Chain</a></span></li><li><span><a href="#6.-Executing-generated-SQL-query" data-toc-modified-id="6.-Executing-generated-SQL-query-6">6. Executing generated SQL query</a></span></li><li><span><a href="#7.-Cleaning-response" data-toc-modified-id="7.-Cleaning-response-7">7. Cleaning response</a></span></li><li><span><a href="#8.-Output-LLM" data-toc-modified-id="8.-Output-LLM-8">8. Output LLM</a></span></li><li><span><a href="#9.-Code-Summary" data-toc-modified-id="9.-Code-Summary-9">9. Code Summary</a></span></li></ul></div>

## 1. OpenAI API KEY

To carry out this project, we will need an API KEY from OpenAI to use the GPT-4 Turbo model. This API KEY can be obtained at https://platform.openai.com/api-keys. It is only displayed once, so it must be saved at the moment it is obtained. Of course, we will need to create an account to get it.

We store the API KEY in a `.env` file to load it with the dotenv library and use it as an environment variable. This file is added to the `.gitignore` to ensure that it cannot be seen if we upload the code to GitHub, for example.

In [1]:
# removing deprecation warnings

import warnings
warnings.filterwarnings("ignore")

In [2]:
# import API KEY

import os                           # operating system library
from dotenv import load_dotenv      # load environment variables  


load_dotenv()


OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

## 2. SQL Connection

We make the SQL connection by creating the URI, with the SnowFlake credentials. These details will change depending on the database used and the user credentials.

In [3]:
from sqlalchemy import create_engine

In [4]:
# server and user credentials 

snowflake_account = os.getenv("snowflake_account")

username = os.getenv("username")

password = os.getenv("password")

database = os.getenv("database")

schema = os.getenv("schema")

warehouse = os.getenv("warehouse")

role = os.getenv("role")

In [5]:
URI = f"snowflake://{username}:{password}@{snowflake_account}/{database}/{schema}?warehouse={warehouse}&role={role}"

In [6]:
# database connection

cursor = create_engine(URI).connect()

In [7]:
# show all database tables

tables = cursor.execute("show tables;").fetchall()

tables = [e[1] for e in tables]

tables

['`ACTOR`',
 '`ADDRESS`',
 '`CATEGORY`',
 '`CITY`',
 '`COUNTRY`',
 '`CUSTOMER`',
 '`FILM_ACTOR`',
 '`FILM_CATEGORY`',
 '`FILM_TEXT`',
 '`FILM`',
 '`INVENTORY`',
 '`LANGUAGE`',
 '`PAYMENT`',
 '`RENTAL`',
 '`STAFF`',
 '`STORE`']

## 3. Load SQL DB in LangChain

We create the SQL chain for feeding the LLM later.

In [8]:
from langchain import SQLDatabase

In [9]:
db = SQLDatabase.from_uri(URI,
                          sample_rows_in_table_info=1, 
                          include_tables=tables)

In [10]:
# tables information

print(db.table_info)

CREATE TABLE "`ACTOR`" (
	"`ACTOR_ID`" DECIMAL(38, 0) NOT NULL,
	"`FIRST_NAME`" VARCHAR(45) NOT NULL,
	"`LAST_NAME`" VARCHAR(45) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_a33a12cb-9ed4-4179-ad31-82eddacc6b7b" PRIMARY KEY ("`ACTOR_ID`")
)

/*
1 rows from `ACTOR` table:
`ACTOR_ID`	`FIRST_NAME`	`LAST_NAME`	`LAST_UPDATE`
1	PENELOPE	GUINESS	2006-02-15 03:34:33
*/


CREATE TABLE "`ADDRESS`" (
	"`ADDRESS_ID`" DECIMAL(38, 0) NOT NULL,
	"`ADDRESS`" VARCHAR(16777216) NOT NULL,
	"`ADDRESS2`" VARCHAR(16777216),
	"`DISTRICT`" VARCHAR(16777216) NOT NULL,
	"`CITY_ID`" DECIMAL(38, 0) NOT NULL,
	"`POSTAL_CODE`" VARCHAR(10),
	"`PHONE`" VARCHAR(16777216) NOT NULL,
	"`LOCATION`" VARCHAR(16777216) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL
)

/*
1 rows from `ADDRESS` table:
`ADDRESS_ID`	`ADDRESS`	`ADDRESS2`	`DISTRICT`	`CITY_ID`	`POSTAL_CODE`	`PHONE`	`LOCATION`	`LAST_UPDATE`
1	47 MySakila Drive	None	Alberta	300			A	2014-09-25 20:30:27
*/


CREATE TABLE "`CATEGORY`" (
	"`CATEGORY_ID`" DECIMAL(38, 0) NOT NULL,
	"`NAME`" VARCHAR(25) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_1668e590-9912-4a04-ab72-a8ce364e2afe" PRIMARY KEY ("`CATEGORY_ID`")
)

/*
1 rows from `CATEGORY` table:
`CATEGORY_ID`	`NAME`	`LAST_UPDATE`
1	Action	2006-02-15 03:46:27
*/


CREATE TABLE "`CITY`" (
	"`CITY_ID`" DECIMAL(38, 0) NOT NULL,
	"`CITY`" VARCHAR(50) NOT NULL,
	"`COUNTRY_ID`" DECIMAL(38, 0) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_8cee2877-af62-410f-bd17-4dec4c0fddea" PRIMARY KEY ("`CITY_ID`")
)

/*
1 rows from `CITY` table:
`CITY_ID`	`CITY`	`COUNTRY_ID`	`LAST_UPDATE`
1	A Coru√±a (La Coru√±a)	87	2006-02-15 03:45:25
*/


CREATE TABLE "`COUNTRY`" (
	"`COUNTRY_ID`" DECIMAL(38, 0) NOT NULL,
	"`COUNTRY`" VARCHAR(50) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_895c22dc-1fd7-49c6-9859-e488a29f0214" PRIMARY KEY ("`COUNTRY_ID`")
)

/*
1 rows from `COUNTRY` table:
`COUNTRY_ID`	`COUNTRY`	`LAST_UPDATE`
1	Afghanistan	2006-02-15 03:44:00
*/


CREATE TABLE "`CUSTOMER`" (
	"`CUSTOMER_ID`" DECIMAL(38, 0) NOT NULL,
	"`STORE_ID`" DECIMAL(38, 0) NOT NULL,
	"`FIRST_NAME`" VARCHAR(45) NOT NULL,
	"`LAST_NAME`" VARCHAR(45) NOT NULL,
	"`EMAIL`" VARCHAR(50),
	"`ADDRESS_ID`" DECIMAL(38, 0) NOT NULL,
	"`ACTIVE`" DECIMAL(38, 0) NOT NULL,
	"`CREATE_DATE`" TIMESTAMP_NTZ NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ,
	CONSTRAINT "SYS_CONSTRAINT_32084707-0bee-4669-9b0a-6f6793a39da9" PRIMARY KEY ("`CUSTOMER_ID`")
)

/*
1 rows from `CUSTOMER` table:
`CUSTOMER_ID`	`STORE_ID`	`FIRST_NAME`	`LAST_NAME`	`EMAIL`	`ADDRESS_ID`	`ACTIVE`	`CREATE_DATE`	`LAST_UPDATE`
1	1	MARY	SMITH	MARY.SMITH@sakilacustomer.org	5	1	2006-02-14 22:04:36	2006-02-15 03:57:20
*/


CREATE TABLE "`FILM_ACTOR`" (
	"`ACTOR_ID`" DECIMAL(38, 0) NOT NULL,
	"`FILM_ID`" DECIMAL(38, 0) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_56735937-1f16-410f-9d8c-7302d1b75e5d" PRIMARY KEY ("`ACTOR_ID`", "`FILM_ID`")
)

/*
1 rows from `FILM_ACTOR` table:
`ACTOR_ID`	`FILM_ID`	`LAST_UPDATE`
1	1	2006-02-15 04:05:03
*/


CREATE TABLE "`FILM_CATEGORY`" (
	"`FILM_ID`" DECIMAL(38, 0) NOT NULL,
	"`CATEGORY_ID`" DECIMAL(38, 0) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_87184eab-018f-41fe-99d3-ea4a6ac6c61e" PRIMARY KEY ("`CATEGORY_ID`", "`FILM_ID`")
)

/*
1 rows from `FILM_CATEGORY` table:
`FILM_ID`	`CATEGORY_ID`	`LAST_UPDATE`
1	6	2006-02-15 04:07:09
*/


CREATE TABLE "`FILM_TEXT`" (
	"`FILM_ID`" DECIMAL(38, 0) NOT NULL,
	"`TITLE`" VARCHAR(255) NOT NULL,
	"`DESCRIPTION`" VARCHAR(16777216),
	CONSTRAINT "SYS_CONSTRAINT_ece95aa1-6efe-4704-bb56-c31c8807b03d" PRIMARY KEY ("`FILM_ID`")
)

/*
1 rows from `FILM_TEXT` table:
`FILM_ID`	`TITLE`	`DESCRIPTION`
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies
*/


CREATE TABLE "`FILM`" (
	"`FILM_ID`" DECIMAL(38, 0) NOT NULL,
	"`TITLE`" VARCHAR(16777216) NOT NULL,
	"`DESCRIPTION`" VARCHAR(16777216),
	"`RELEASE_YEAR`" DECIMAL(38, 0),
	"`LANGUAGE_ID`" DECIMAL(38, 0) NOT NULL,
	"`ORIGINAL_LANGUAGE_ID`" DECIMAL(38, 0),
	"`RENTAL_DURATION`" DECIMAL(38, 0) NOT NULL,
	"`RENTAL_RATE`" DECIMAL(4, 2) NOT NULL,
	"`LENGTH`" DECIMAL(38, 0),
	"`REPLACEMENT_COST`" DECIMAL(5, 2),
	"`RATING`" VARCHAR(16777216),
	"`SPECIAL_FEATURES`" VARCHAR(16777216),
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_fa0a408e-2b80-4f19-a110-be3c8f87a701" PRIMARY KEY ("`FILM_ID`")
)

/*
1 rows from `FILM` table:
`FILM_ID`	`TITLE`	`DESCRIPTION`	`RELEASE_YEAR`	`LANGUAGE_ID`	`ORIGINAL_LANGUAGE_ID`	`RENTAL_DURATION`	`RENTAL_RATE`	`LENGTH`	`REPLACEMENT_COST`	`RATING`	`SPECIAL_FEATURES`	`LAST_UPDATE`
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies	2006	1	None	6	0.99	86	20.99	PG	Deleted Scenes,Behind the Scenes	2006-02-15 04:03:42
*/


CREATE TABLE "`INVENTORY`" (
	"`INVENTORY_ID`" DECIMAL(38, 0) NOT NULL,
	"`FILM_ID`" DECIMAL(38, 0) NOT NULL,
	"`STORE_ID`" DECIMAL(38, 0) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_ebffb42b-e7db-4e14-8cf8-beaf2c71fa26" PRIMARY KEY ("`INVENTORY_ID`")
)

/*
1 rows from `INVENTORY` table:
`INVENTORY_ID`	`FILM_ID`	`STORE_ID`	`LAST_UPDATE`
1	1	1	2006-02-15 04:09:17
*/


CREATE TABLE "`LANGUAGE`" (
	"`LANGUAGE_ID`" DECIMAL(38, 0) NOT NULL,
	"`NAME`" VARCHAR(20) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_b66b043e-c3d4-4000-8ad0-9f0ddeeaaf4e" PRIMARY KEY ("`LANGUAGE_ID`")
)

/*
1 rows from `LANGUAGE` table:
`LANGUAGE_ID`	`NAME`	`LAST_UPDATE`
1	English	2006-02-15 04:02:19
*/


CREATE TABLE "`PAYMENT`" (
	"`PAYMENT_ID`" DECIMAL(38, 0) NOT NULL,
	"`CUSTOMER_ID`" DECIMAL(38, 0) NOT NULL,
	"`STAFF_ID`" DECIMAL(38, 0) NOT NULL,
	"`RENTAL_ID`" DECIMAL(38, 0),
	"`AMOUNT`" DECIMAL(5, 2) NOT NULL,
	"`PAYMENT_DATE`" TIMESTAMP_NTZ NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ,
	CONSTRAINT "SYS_CONSTRAINT_b435784b-6448-4d8d-9970-69772bbe14cc" PRIMARY KEY ("`PAYMENT_ID`")
)

/*
1 rows from `PAYMENT` table:
`PAYMENT_ID`	`CUSTOMER_ID`	`STAFF_ID`	`RENTAL_ID`	`AMOUNT`	`PAYMENT_DATE`	`LAST_UPDATE`
1	1	1	76	2.99	2005-05-25 11:30:37	2006-02-15 21:12:30
*/


CREATE TABLE "`RENTAL`" (
	"`RENTAL_ID`" DECIMAL(38, 0) NOT NULL,
	"`RENTAL_DATE`" TIMESTAMP_NTZ NOT NULL,
	"`INVENTORY_ID`" DECIMAL(38, 0) NOT NULL,
	"`CUSTOMER_ID`" DECIMAL(38, 0) NOT NULL,
	"`RETURN_DATE`" TIMESTAMP_NTZ,
	"`STAFF_ID`" DECIMAL(38, 0) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_5852ec2f-e4ff-464b-94eb-8bd6c1836452" PRIMARY KEY ("`RENTAL_ID`")
)

/*
1 rows from `RENTAL` table:
`RENTAL_ID`	`RENTAL_DATE`	`INVENTORY_ID`	`CUSTOMER_ID`	`RETURN_DATE`	`STAFF_ID`	`LAST_UPDATE`
1	2005-05-24 22:53:30	367	130	2005-05-26 22:04:30	1	2006-02-15 20:30:53
*/


CREATE TABLE "`STAFF`" (
	"`STAFF_ID`" DECIMAL(38, 0) NOT NULL,
	"`FIRST_NAME`" VARCHAR(16777216) NOT NULL,
	"`LAST_NAME`" VARCHAR(16777216) NOT NULL,
	"`ADDRESS_ID`" DECIMAL(38, 0) NOT NULL,
	"`PICTURE`" VARCHAR(16777216) NOT NULL,
	"`EMAIL`" VARCHAR(16777216),
	"`STORE_ID`" DECIMAL(38, 0) NOT NULL,
	"`ACTIVE`" DECIMAL(38, 0) NOT NULL,
	"`USERNAME`" VARCHAR(16777216) NOT NULL,
	"`PASSWORD`" VARCHAR(16777216),
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL
)

/*
1 rows from `STAFF` table:
`STAFF_ID`	`FIRST_NAME`	`LAST_NAME`	`ADDRESS_ID`	`PICTURE`	`EMAIL`	`STORE_ID`	`ACTIVE`	`USERNAME`	`PASSWORD`	`LAST_UPDATE`
1	Mike	Hillyer	3	A	Mike.Hillyer@sakilastaff.com	1	1	Mike	8cb2237d0679ca88db6464eac60da96345513964	2006-02-15 02:57:16
*/


CREATE TABLE "`STORE`" (
	"`STORE_ID`" DECIMAL(38, 0) NOT NULL,
	"`MANAGER_STAFF_ID`" DECIMAL(38, 0) NOT NULL,
	"`ADDRESS_ID`" DECIMAL(38, 0) NOT NULL,
	"`LAST_UPDATE`" TIMESTAMP_NTZ NOT NULL,
	CONSTRAINT "SYS_CONSTRAINT_95e1b0ad-ffe5-43bc-b625-0903bd480b30" PRIMARY KEY ("`STORE_ID`")
)

/*
1 rows from `STORE` table:
`STORE_ID`	`MANAGER_STAFF_ID`	`ADDRESS_ID`	`LAST_UPDATE`
1	1	1	2006-02-15 03:57:12
*/

## 4. Input LLM

We use an OpenAI model as input LLm. A temperature = 0 makes the model's responses more deterministic and repetitive, tending to select the most likely next word given the previous context, which is better for SQL queries generation.

In [11]:
from langchain_openai import OpenAI

In [12]:
input_model = OpenAI(temperature=0)

In [13]:
# testing model

input_model.invoke("What is SQL?")

'\n\nSQL (Structured Query Language) is a programming language used for managing and manipulating data stored in relational databases. It is used to create, retrieve, update, and delete data from databases, as well as to define and modify the structure of databases. SQL is a standard language that is used by many database management systems, making it a widely used and important tool for data management and analysis.'

## 5. SQL Chain

We use our database and the LLM from OpenAI for SQL query generation.

In [14]:
from langchain.chains import create_sql_query_chain

In [15]:
database_chain = create_sql_query_chain(input_model, db)

In [16]:
# chain description

database_chain

RunnableAssign(mapper={
  input: RunnableLambda(...),
  table_info: RunnableLambda(...)
})
| RunnableLambda(lambda x: {k: v for (k, v) in x.items() if k not in ('question', 'table_names_to_use')})
| PromptTemplate(input_variables=['input', 'table_info'], partial_variables={'dialect': 'snowflake', 'top_k': '5'}, template='Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer. Unless the user specifies in his question a specific number of examples he wishes to obtain, always limit your query to at most {top_k} results. You can order the results by a relevant column to return the most interesting examples in the database.\n\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\n\nPay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')
| RunnableBinding(bound=OpenAI(client=<openai.resources.completions.Completions object at 0x148fdaa40>, async_client=<openai.resources.completions.AsyncCompletions object at 0x149c53a60>, temperature=0.0, openai_api_key=SecretStr('**********'), openai_proxy=''), kwargs={'stop': ['\nSQLResult:']})
| StrOutputParser()
| RunnableLambda(_strip)

In [17]:
# our question

prompt = "Which actors have the first name ‘SCARLETT’? Add `` to table name"

In [18]:
# generated query

sql_query = database_chain.invoke({"question": prompt})

In [19]:
#we can visualize what sql query is generated by the LLM

print(sql_query)

SELECT `FIRST_NAME`, `LAST_NAME` FROM `ACTOR` WHERE `FIRST_NAME` = 'SCARLETT' LIMIT 5

## 6. Executing generated SQL query

In [20]:
# SQL output

response = cursor.execute(sql_query).fetchall()

response

[('SCARLETT', 'DAMON'), ('SCARLETT', 'BENING')]

## 7. Cleaning response

We clean the SQL output so that the model understands better and returns a more concise response parsing the output to markdown.

In [21]:
import pandas as pd

In [22]:
context = pd.DataFrame(response).to_markdown()

context

'|    | `FIRST_NAME`   | `LAST_NAME`   |\n|---:|:---------------|:--------------|\n|  0 | SCARLETT       | DAMON         |\n|  1 | SCARLETT       | BENING        |'

## 8. Output LLM

With this model, we generate the final response.

In [23]:
from langchain_openai.chat_models import ChatOpenAI   

output_model = ChatOpenAI(model="gpt-4-turbo")

In [24]:
output_model.invoke(f"""Given the next context, answer the cuestion: 
                    
                    context: {context}, 
                    
                    question: {prompt}
                    
                    """).content

"The actors with the first name 'SCARLETT' from the table `context` are:\n\n- SCARLETT DAMON\n- SCARLETT BENING"

## 9. Code Summary

In [25]:
%%time

import warnings
warnings.filterwarnings("ignore")

from sqlalchemy import create_engine

from langchain import SQLDatabase
from langchain.chains import create_sql_query_chain
from langchain_openai import OpenAI
from langchain_openai.chat_models import ChatOpenAI   

import pandas as pd

import os                           
from dotenv import load_dotenv        




load_dotenv()

OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")


snowflake_account = os.getenv("snowflake_account")

username = os.getenv("username")

password = os.getenv("password")

database = os.getenv("database")

schema = os.getenv("schema")

warehouse = os.getenv("warehouse")

role = os.getenv("role")


URI = f"snowflake://{username}:{password}@{snowflake_account}/{database}/{schema}?warehouse={warehouse}&role={role}"
    
    
cursor = create_engine(URI).connect()


tables = cursor.execute("show tables;").fetchall()

tables = [e[1] for e in tables]


db = SQLDatabase.from_uri(URI,
                          sample_rows_in_table_info=1, 
                          include_tables=tables)

input_model = OpenAI(temperature=0)


database_chain = create_sql_query_chain(input_model, db)


prompt = "Which actors have the first name ‘SCARLETT’? Add `` to table name"


sql_query = database_chain.invoke({"question": prompt})


response = cursor.execute(sql_query).fetchall()


context = pd.DataFrame(response).to_markdown()


output_model = ChatOpenAI(model="gpt-4-turbo")



final_prompt = f"""Given the next context, answer the cuestion: 
                    
                   context: {context}, 
                    
                   question: {prompt}
                    
                   """



output_model.invoke(final_prompt).content

CPU times: user 822 ms, sys: 81 ms, total: 903 ms
Wall time: 11.7 s

"The actors with the first name 'SCARLETT' are:\n\n- SCARLETT DAMON\n- SCARLETT BENING"