# Practice

[Solutions](https://github.com/erzubin/MySQL/blob/master/Practice%20Queries%20on%20Sakila%20DB%20of%20MySQL.txt)

In [1]:
from chat import get_sql_response

# Q1

In [2]:
prompt = "Which actors have the first name ‘SCARLETT’?"

response = get_sql_response(prompt)

print(response)

Based on the provided table, the actors with the first name 'SCARLETT' are:
- SCARLETT DAMON
- SCARLETT BENING

# Q2

In [ ]:
prompt = "Which actors have the last name ‘JOHANSSON’?"

response = get_sql_response(prompt)

print(response)

# Q3

In [ ]:
prompt = "How many distinct actors last names are there?"

response = get_sql_response(prompt)

print(response)

# Q4

In [ ]:
prompt = "Which last names are not repeated?"

response = get_sql_response(prompt)

print(response)

# Q5

In [ ]:
prompt = "Which last names appear more than once?"

response = get_sql_response(prompt)

print(response)

# Q6

In [ ]:
prompt = "Which actor has appeared in the most films?"

response = get_sql_response(prompt)

print(response)

# Q7

In [ ]:
prompt = "Is ‘Academy Dinosaur’ available for rent from Store 1?"

response = get_sql_response(prompt)

print(response)

# Q8

In [ ]:
prompt = "When is ‘Academy Dinosaur’ due?"

response = get_sql_response(prompt)

print(response)

# Q9

In [ ]:
prompt = "What is that average running time of all the films?"

response = get_sql_response(prompt)

print(response)

# Q10

In [ ]:
prompt = "What are the names of all the languages sorted alphabetically?"

response = get_sql_response(prompt)

print(response)

# Q11

In [ ]:
prompt = """Find all the film categories in which there are between 55 and 65 films. 
            Return the names of these
            categories and the number of films per category, 
            sorted by the number of films."""

response = get_sql_response(prompt)

print(response)

# Q12

In [ ]:
prompt = """In how many film categories is the average difference between the 
            film replacement cost and the rental rate larger than 17?"""

response = get_sql_response(prompt)

print(response)

# Q13

In [ ]:
prompt = """Find the names (first and last) of all the actors and costumers whose first 
            name is the same as the first name of the actor with ID 8. 
            Do not return the actor with ID 8 him. Note that you cannot
            use the name of the actor with ID 8 as a constant (only the ID). 
            There is more than one way to solve
            this question, but you need to provide only one solution.
            """

response = get_sql_response(prompt)

print(response)