# Practice

[Solutions](https://github.com/erzubin/MySQL/blob/master/Practice%20Queries%20on%20Sakila%20DB%20of%20MySQL.txt)

In [1]:
from chat import get_sql_response

# Q1

In [2]:
prompt = "Which actors have the first name ‘SCARLETT’?"

response = get_sql_response(prompt)

print(response)

Based on the context provided in the table `context`, the actors with the first name "SCARLETT" are:

- SCARLETT DAMON
- SCARLETT BENING

# Q2

In [3]:
prompt = "Which actors have the last name ‘JOHANSSON’?"

response = get_sql_response(prompt)

print(response)

The actors with the last name 'JOHANSSON' are:

- MATTHEW JOHANSSON
- RAY JOHANSSON
- ALBERT JOHANSSON

# Q3

In [4]:
prompt = "How many distinct actors last names are there?"

response = get_sql_response(prompt)

print(response)

There are 121 distinct actors' last names in the `ACTOR` table.

# Q4

In [5]:
prompt = "Which last names are not repeated?"

response = get_sql_response(prompt)

print(response)

Based on the provided context, all of the last names listed in the table are not repeated. Each entry appears to be unique within the table:

- `LOLLOBRIGIDA`
- `NICHOLSON`
- `SWANK`
- `GABLE`
- `VOIGHT`

Hence, the answer is that all the last names in the `LAST_NAME` table are not repeated.

# Q5

In [6]:
prompt = "Which last names appear more than once?"

response = get_sql_response(prompt)

print(response)

The last names from the table `context` that appear more than once are:

- KILMER
- NOLTE
- TEMPLE
- GUINESS
- JOHANSSON

Each of these last names has a count greater than one, as indicated in the `COUNT` column of the table.

# Q6

In [7]:
prompt = "Which actor has appeared in the most films?"

response = get_sql_response(prompt)

print(response)

Based on the provided context table, the actor with the `ACTOR_ID` of 107 has appeared in the most films with a count of 42. This is determined from the table where `ACTOR_ID` 107 has the highest `FILM_COUNT` mentioned.

# Q7

In [8]:
prompt = "What is that average running time of all the films?"

response = get_sql_response(prompt)

print(response)

The average running time of all the films is 115.272 minutes.

# Q8

In [9]:
prompt = "What are the names of all the languages sorted alphabetically?"

response = get_sql_response(prompt)

print(response)

The names of all the languages sorted alphabetically are:

- English
- French
- German
- Italian
- Japanese

And the table name with backticks is `NAME`.

# Q9

In [10]:
prompt = """Find all the film categories in which there are between 55 and 65 films. 
            Return the names of these
            categories and the number of films per category, 
            sorted by the number of films."""

response = get_sql_response(prompt)

print(response)

Based on the provided context, the film categories that have between 55 and 65 films include:

|    | `NAME`   |   `FILM_COUNT` |
|---:|:---------|---------------:|
|  0 | Action   |             64 |
|  1 | New      |             63 |
|  2 | Drama    |             62 |
|  3 | Games    |             61 |
|  4 | Sci-Fi   |             61 |

These categories and their respective film counts are already sorted by the number of films, from highest to lowest.

# Q10

In [11]:
prompt = """In how many film categories is the average difference between the 
            film replacement cost and the rental rate larger than 17?"""

response = get_sql_response(prompt)

print(response)

To answer the question based on your context, it appears we need to calculate the average difference between the film replacement cost and the rental rate for each category and then determine in how many categories this average difference is larger than 17.

The context given is a result table with columns that are not explicitly named but inferred to be categories and their count. This table shows that there are 474 categories where the condition of the average difference being greater than 17 is met.

Therefore, the answer to the question "In how many film categories is the average difference between the film replacement cost and the rental rate larger than 17?" based on the context provided is:

474 categories.

# Q11

In [12]:
prompt = """Find the names (first and last) of all the actors and costumers whose first 
            name is the same as the first name of the actor with ID 8. 
            Do not return the actor with ID 8 him. Note that you cannot
            use the name of the actor with ID 8 as a constant (only the ID). 
            There is more than one way to solve
            this question, but you need to provide only one solution.
            """

response = get_sql_response(prompt)

print(response)

Based on the provided context and the question stipulations, here is one way to solve the query using a SQL-like approach. For simplicity, I'll assume the table name is `actors_customers` and that it's structured to include IDs, first names, and last names. As per the question, actor with ID 8 cannot be directly referenced by name, and the solution should not return the actor with ID 8. Here’s how you can formulate the SQL query:

```sql
SELECT `FIRST_NAME`, `LAST_NAME`
FROM `actors_customers`
WHERE `FIRST_NAME` = (
    SELECT `FIRST_NAME`
    FROM `actors_customers`
    WHERE `ID` = 8
)
AND `ID` != 8;
```

This query works by first finding the first name of the actor with ID 8, then selecting all other actors and customers who have the same first name but are not the actor with ID 8. This ensures that the result follows the constraints set by the question. Note that the actual field names and table name might differ based on the actual database schema, so these should be adjusted accordingly.